body {
  margin-top: 100px;
}

.carousel-container {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 400px;
  .carousel {
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  .carousel img {
    width: 100%;
    transition: all 0.3s ease;
    border: 8px solid white;
  }

  .item {
  }

  .navigation {
    .prev {
      position: absolute;
      z-index: 10;
      font-size: 20px;
      top: 40%;
      left: 10px;
      font-weight: 700;
      color: white;
    }
    .next {
      position: absolute;
      z-index: 10;
      font-size: 20px;
      top: 40%;
      right: 10px;

      font-weight: 700;
      color: white;
    }

    .nav-btn {
      cursor: pointer;
      background: rgb(92, 50, 50);
    }
  }
}
