body {
  margin: 0;
  padding: 0;
}

.swiper-container {
  position: relative;
  width: 944px;
  height: 334px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: swiper-slide;
}

.swiper-slide img {
  width: 318px;
  height: 338px;
}

.swiper-pagination-bullet-active {
  background: white;
}

.text {
  color: green;
}